# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

*~
build
Armbian_community_25.2.0-trunk.337_Orangepipc_noble_current_6.6.70_xfce_desktop.img.xz
Armbian_community_25.2.0-trunk.337_Orangepipc_noble_current_6.6.70_xfce_desktop.*
introducing-go/ir.ArdeshirV.Introducing-Go
ir.ArdeshirV.Introducing-Go
effective-go
the-go-programming-language
introducing-go
v1
v2
